header {
   background-color: #4EA0FF ;
   background-image: url(../img/pattern.png);
   background-size: 40%;
   height: 130px;
}

#theBool {
    margin-top: 50px;
    margin-left: 150px;
    width: 300px;
}

.margin {
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
}

.ba05 {
    color: #00000094;
}

.aa05 {
    color: #4ea1ff94;
}

#azzurro {
    background-color: #20a9e5;
    color: white;
}

.azzurrochiaro {
    background-color: #b1e5f2;
}

#img1 {
    height: 208px;
    width: 312px;
    color: white;
    background-image: url(../img/monitor.jpg);
    font-size: 22px;
    margin-bottom: 10px;
    
}

#img2 {
    height: 208px;
    width: 312px;
    color: white;
    background-image: url(../img/graph.jpg);
    font-size: 22px;
    
}

footer {
    margin-top: 35px;
}